<%- include("partials/header"); -%>

<div class="stats">
  <h2 class="shead">STATISTICS</h2><br><br>
  <p>Total Cases: <%= TotalCases %> </p>
  <p>New Cases: <%= NewCases %> </p>
  <p>Recovered Cases: <%= RecoveredCases %> </p>
  <p>Total Deceased: <%= DeceasedCases %> </p>
  <button type="button" class="btn btn-dark"name="button"><a class="homebtn"href="/">Home</a></button>
</div>

<%- include("partials/footer"); -%>
